In [1]:
try:
    num = int(input("Enter a number: "))
    print("You entered:", num)
except ValueError:
    print("Invalid input")

Enter a number: 'abc'
Invalid input

In [2]:
try:
    num = int(input("Enter a positive integer: "))
    if num <= 0:
        raise ValueError("Not a positive integer")
except ValueError as e:
    print("Error:", str(e))

Enter a positive integer: '-3'
Error: invalid literal for int() with base 10: "'-3'"

In [3]:
try:
    num = int(input("Enter a positive integer: "))
    if num <= 0:
        raise ValueError("Not a positive integer")
except ValueError as e:
    print("Error:", str(e))

Enter a positive integer: -3
Error: Not a positive integer

In [4]:
try:
    num = int(input("Enter a number: "))
    result = 10 / num
except ValueError:
    result = 0
except ZeroDivisionError:
    result = "Infinity"
finally:
    print("Result:", result)

Enter a number: 0
Result: Infinity

In [5]:
numbers = [1, 2, 3, 4, 5]
squared_values = [x ** 2 for x in numbers]
print(squared_values)

[1, 4, 9, 16, 25]

In [6]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
del my_dict['b']
print(len(my_dict))

2

In [7]:
a = []
b = []

for i in range(1, 11):
    if i % 2:
        a.append(i)

for i in range(1, 11):
    if i % 4:
        b.append(i)

a = set(a)
b = set(b)

a.update(b)

print(a)

{1, 2, 3, 5, 6, 7, 9, 10}

In [8]:
value = 10
result = value * 2 if value > 5 else value / 2
print(result)

20

In [9]:
text = "Hello, World!"
print(text[::-1])

!dlroW ,olleH

In [10]:
def my_generator():
    yield 1
    yield 2
    yield 3

gen = my_generator()
print(next(gen) + next(gen))

3

In [12]:
import math

result = math.sqrt(-1)
print(result)

ValueError: ignored

In [13]:
def outer_func():
    x = 10
    def inner_func():
        nonlocal x
        x += 5
    inner_func()
    return x

result = outer_func()
print(result)

15

In [14]:
class A:
    def __init__(self, value):
        self.value = value

a = A(10)
b = A(20)
print(a + b)

TypeError: ignored

In [15]:
def divide(x, y):
    try:
        result = x / y
    except ZeroDivisionError as e:
        result = str(e)
    finally:
        result += " Done"
    return result

result = divide(10, 2)
print(result)

TypeError: ignored

In [16]:
x = 5
y = x if x > 0 else 0
x = 0
print(y)

5

In [17]:
my_list = [1, 2, 3, 4]
new_list = my_list[1:3]
new_list.append(5)
print(my_list)

[1, 2, 3, 4]

In [18]:
def is_even(num):
    return num % 2 == 0

numbers = [1, 2, 3, 4, 5]
even_numbers = list(filter(is_even, numbers))
print(even_numbers)

[2, 4]

In [19]:
def greet(name, message="Hello"):
    print(message, name)

greet("Alice")

Hello Alice

In [20]:
def add(a, b):
    return a + b

def multiply(a, b):
    return a * b



result = add(3, multiply(2, 4))
print(result)

11

In [21]:
def factorial(n):
    if n == 0:
        return 1
    return n * factorial(n - 1)

result = factorial(5)
print(result)

120

In [22]:
my_set = {1, 2, 3}
my_set.add(4)
my_set.remove(2)
print(len(my_set))

3

In [23]:
def is_palindrome(s):
    return s == s[::-1]

result = is_palindrome("racecar")
print(result)

True

In [24]:
def uppercase_decorator(func):
    def inside(*args, **kwargs):
        result = func(*args, **kwargs)
        return result.upper()
    return inside

@uppercase_decorator
def greet(name):
    return f"Hello, {name}"
print(greet("Alice"))

HELLO, ALICE

In [26]:
import time
def performance_timer(func):


    def inside(*args, **kwargs):
        start_time = time.time()
        result = func(*args, **kwargs)
        end_time = time.time()
        print(f"Time taken: {end_time - start_time} seconds")
        return result

    return inside

@performance_timer
def slow_function():
    time.sleep(2)

slow_function()

Time taken: 2.0040030479431152 seconds

In [27]:
def performance_timer(func):

    def inside(*args, **kwargs):
        start_time = time.time()
        result = func(*args, **kwargs)
        end_time = time.time()
        print(f"Time taken: {end_time - start_time} seconds")
        return result

    return inside

@performance_timer
def slow_function():
    time.sleep(2)

slow_function()

Time taken: 2.0028316974639893 seconds

In [28]:
def log_args_and_result(func):
    def inside(*args, **kwargs):
        arg_str = ", ".join(map(repr, args))
        result = func(*args, **kwargs)
        print(f"Arguments: {arg_str}, Result: {result}")
        return result
    return inside

@log_args_and_result
def add(a, b):
    return a + b

result = add(3, 4)

Arguments: 3, 4, Result: 7

In [29]:
def memoize(func):
    cache = {}

    def inside(*args):
        if args not in cache:
            cache[args] = func(*args)
        return cache[args]

    return inside

@memoize
def fibonacci(n):
    if n <= 1:
        return n
    else:
        return fibonacci(n - 1) + fibonacci(n - 2)

result = fibonacci(10)

In [30]:
result

55

In [31]:
def access_control(required_role):
    def decorator(func):
        def inside(user_role):
            if user_role == required_role:
                return func(user_role)
            else:
                return "Access Denied"
        return inside
    return decorator

@access_control("admin")
def admin_panel(user_role):
    return "Admin panel accessed."

result = admin_panel("admin")

In [32]:
result

'Admin panel accessed.'

In [33]:
def retry(max_attempts):
    def decorator(func):
        def inside(*args, **kwargs):
            attempts = 0
            while attempts < max_attempts:
                try:
                    return func(*args, **kwargs)
                except Exception as e:
                    attempts += 1
                    print(f"Attempt {attempts}: {e}")
            raise Exception("Max attempts reached")

        return inside
    return decorator

@retry(3)
def perform_operation():
    import random
    if random.random() < 0.5:
        raise ValueError("Operation failed")
    return "Operation successful"

result = perform_operation()

In [34]:
result

'Operation successful'

# 1. Evaluating Employee Performance:

In [44]:
def evaluate_employee_performance(employees):
    evaluated_employees = []
    for employee in employees:
        name = employee["name"]
        scores = employee["scores"]
        weights = employee["weights"]

        performance_score = sum(scores[criterion] * weights[criterion] for criterion in scores)

        evaluated_employees.append({"name": name, "performance_score": performance_score})

    return evaluated_employees

employees = [
    {"name": "John", "scores": {"Quality of Work": 90, "Team Collaboration": 80}, "weights": {"Quality of Work": 0.6, "Team Collaboration": 0.4}},
    {"name": "Alice", "scores": {"Quality of Work": 85, "Team Collaboration": 95}, "weights": {"Quality of Work": 0.5, "Team Collaboration": 0.5}},
]

evaluated_employees = evaluate_employee_performance(employees)
for employee in evaluated_employees:
    print(employee)

{'name': 'John', 'performance_score': 86.0}
{'name': 'Alice', 'performance_score': 90.0}

# 2nd Student Report

In [45]:
def calculate_total_marks(N, M, marks):
    total_marks = []
    for student_marks in marks:
        min_subject_marks = min(student_marks)
        class_average = sum(student_marks) / M
        adjusted_total_marks = sum(student_marks) - min_subject_marks
        total_marks.append(adjusted_total_marks)

    return total_marks

In [54]:
N = 3
M = 4
marks = [
    [85, 90, 88, 92],
    [78, 75, 80, 89],
    [92, 87, 79, 88]
]

total_marks = calculate_total_marks(N, M, marks)
print(total_marks)

[270, 247, 267]

#3. Sorting Employ Record

In [46]:
def sort_employees_by_id(employees):
    return sorted(employees, key=lambda x: x["id"])

def sort_employees_by_salary(employees):
    return sorted(employees, key=lambda x: x["salary"], reverse=True)

In [55]:
employees = [
    {"id": 101, "name": "John", "salary": 60000},
    {"id": 103, "name": "Alice", "salary": 75000},
    {"id": 102, "name": "Bob", "salary": 65000},
]

sorted_by_id = sort_employees_by_id(employees)
sorted_by_salary = sort_employees_by_salary(employees)

print("Sorted by ID:")
for employee in sorted_by_id:
    print(employee)

print("\nSorted by Salary:")
for employee in sorted_by_salary:
    print(employee)

Sorted by ID:
{'id': 101, 'name': 'John', 'salary': 60000}
{'id': 102, 'name': 'Bob', 'salary': 65000}
{'id': 103, 'name': 'Alice', 'salary': 75000}

Sorted by Salary:
{'id': 103, 'name': 'Alice', 'salary': 75000}
{'id': 102, 'name': 'Bob', 'salary': 65000}
{'id': 101, 'name': 'John', 'salary': 60000}

#4. Find the Kth Number from a Set of Prime Numbers:

In [43]:
def find_kth_number(N, prime_numbers, K):
    result = [1]  # Initialize the result list with 1 (the multiplicative identity)

    while len(result) < K:
        # Find the minimum number that can be created by multiplying a prime number from the collection
        min_num = min(result[i] * prime_numbers[j] for i in range(len(result)) for j in range(N))

        # Add the minimum number to the result list
        result.append(min_num)

    return result[K - 1]

# Example usage:
N = 3
prime_numbers = [2, 3, 5]
K = 4
result = find_kth_number(N, prime_numbers, K)
print(result)  # This will output 10 (2 * 5 = 10), the 4th number Dylan can create.

2

#5. Circular Picnic Game:

In [48]:
def max_continuous_sum(n, numbers):
    max_sum = current_sum = numbers[0]
    for num in numbers[1:]:
        current_sum = max(num, current_sum + num)
        max_sum = max(max_sum, current_sum)
    return max_sum

In [57]:
n = 5
numbers = [10, -4, 1, 3, 3]

max_sum = max_continuous_sum(n, numbers)
print(max_sum)

13

#6. Maximum Subarray Sum:

In [49]:
def max_subarray_sum(arr, n):
    max_sum = current_sum = arr[0]
    for i in range(1, n):
        current_sum = max(arr[i], current_sum + arr[i])
        max_sum = max(max_sum, current_sum)
    return max_sum

In [58]:
arr = [-2, 1, -3, 4, -1, 2, 1, -5, 4]
n = len(arr)

result = max_subarray_sum(arr, n)
print(result)

6

#7. Longest Common Subsequence:

In [50]:
def longest_common_subsequence(s1, s2):
    m, n = len(s1), len(s2)
    dp = [[0] * (n + 1) for _ in range(m + 1)]

    for i in range(1, m + 1):
        for j in range(1, n + 1):
            if s1[i - 1] == s2[j - 1]:
                dp[i][j] = dp[i - 1][j - 1] + 1
            else:
                dp[i][j] = max(dp[i - 1][j], dp[i][j - 1])

    return dp[m][n]

In [59]:
s1 = "AGGTAB"
s2 = "GXTXAYB"

result = longest_common_subsequence(s1, s2)
print(result)

4

#8. Matrix Spiral Order:

In [51]:
def spiral_order(matrix):
    result = []
    while matrix:
        result += matrix[0]
        matrix = list(zip(*matrix[1:]))[::-1]
    return result

In [60]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

result = spiral_order(matrix)
print(result)

[1, 2, 3, 6, 9, 8, 7, 4, 5]